# Ignore node_modules directory
node_modules/

# Ignore __pycache__ directories
__pycache__/

# Ignore environment variables file
.env

# Ignore dataset directory
dataset/

# Ignore virtual environment directory
venv/

venv/
__pycache__/
*.pyc
*.pkl
*.json
.DS_Store